body {
	background: #EFF1FA;
	font-family: 'Inter', sans-serif;
}

.comeco {
	padding: 0 0 80px 80px;
	width: 0;
	display: inline-block;
}

.esconder {
}

.foto{
	position: absolute;
	margin: 100px 40px 40px 950px;
	display: inline-block;
	}

.escrito { 
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #343A40;
	position: absolute;
	margin: 500px 40px 40px 930px;
	display: inline-block;
}

.escrito2 { 
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: gray;
	position: absolute;
	margin: 570px 40px 40px 930px;
	padding: 0 40px 0 40px;
	display: inline-block;
	line-height: 1.3;
}

.input-cripto {
	position: absolute;
	background: white;
	margin: 40px 40px 40px 780px;
	height: 900px;
	width: 25%;
	border-radius: 32px;
	border-color: white;
	display: inline-block;
	font-size: 18px;
}
.exclamacao {
	height: 20px;
	width: 20px;
	margin: 10px 0 0 200px;
}

.texto-pequeno {
	color: gray;
	font-size: 18px;
	margin-left: 7px;
	display: inline-block;
}

.input-padrao {
	background: #EFF1FA;
	height: 640px;
	width: 50%;
	margin-left: 200px;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	color: darkblue;
	font-weight: bold;
	display: inline-block;
}

.criptografar {
	background: linear-gradient(0deg, #0A3871, #0A3871);
	color: #D8DFE8 ;
	font-size: 22px;
	height: 67px;
	width: 300px;
	margin: 10px 0 0 200px;
	border-radius: 24px;
	border-color: darkblue;
	cursor: pointer;
}

.descriptografar {
	background: linear-gradient(0deg, #D8DFE8, #D8DFE8);
	color: #0A3871;
	font-size: 22px;
	height: 67px;
	width: 300px;
	margin-left: 20px;
	border-radius: 24px;
	border-color: darkblue;
	cursor: pointer;
}

.copiar {
	position: absolute;
	background: white;
	color: #0A3871;
	font-size: 22px;
	height: 67px;
	width: 300px;
	margin: 10px 0 0 140px;
	border-radius: 24px;
	border-color: darkblue;
	cursor: pointer;
}

footer {
	margin-bottom: 60px;
}

